body {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
}

.div_header {
  background-color: #151515;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.nav_bar {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

.nav_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline-block;
}

.nav_bar a {
  color: #151515;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.nav_bar a:hover {
  background-color: #ddd;
}

main {
  margin: 200px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
